/* .navbar { 
    font-family:Verdana !important; } */

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.content h3 {
    margin-top: 10px;
}

p {
    font-size: 12px;
}