{% extends 'base.html' %} 
{% block content %}
<!-- <h1>About</h1> -->
<header class="display-container content hide-small" style="max-width:1500px">
    <img class="image" src="https://static.vecteezy.com/system/resources/previews/000/588/972/original/city-dubai-skyline-uae-cityscape-united-arab-emirates-urban-view-vector.jpg" alt="Dubai" width="1500" height="700">
      
<h3>At Wayfarer our goal is to help find your best travel experience possible, from world-class web design to our real-time user testimonials. We are your home for all things travel, where ever you are.</h3>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <div class="w3-panel w3-border-top w3-border-bottom"></div>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="image" src="https://i.imgur.com/nJ1qol9.png" alt="Josh" width="140" height="33">
                    <h4>Josh M</h4>
                <p>Josh M is the strong, capable builder of all things database.</p>
            </div>
                <div class="col-lg-4">
                    <img class="image" src="https://i.imgur.com/INqBmZ1.jpg" alt="Alan" width="140" height="33">
                        <h4>Alan McG</h4>
                    <p>Alan handles templates </p>
                </div>
                <div class="col-lg-4">
                    <img class="image" src="https://i.imgur.com/GTNGN6w.jpg" alt="Nabila" width="140" height="33">
                        <h4>Nabila D</h4>
                    <p>Nabila is our model Python implementer</p>
                </div>
        </div>
    </div>
  {% endblock %}