{% extends 'base.html' %} 
{% block content %}
<!-- <h1>About</h1> -->
<header class="display-container content hide-small" style="max-width:1500px">
    <img class="image" src="https://static.vecteezy.com/system/resources/previews/000/588/972/original/city-dubai-skyline-uae-cityscape-united-arab-emirates-urban-view-vector.jpg" alt="Dubai" width="1500" height="700">
      
    <h3>At Wayfarer our goal is to help you find the best travel experiences possible. From our world-class web design to our real-time user testimonials, we're your home for all things travel. Where ever you are.</h3>
        <div class="container">
            <div class="row">
                    <div class="col-lg-4">
                        <img class="image" src="https://i.imgur.com/nJ1qol9.png" alt="Josh" width="150" height="75">
                        <h4>Josh Martin</h4>
                        <p>Josh builds the databases</p>
                    </div>
                    <div class="col-lg-4">
                        <img class="image" src="https://i.imgur.com/INqBmZ1.jpg" alt="Alan" width="150" height="75">
                        <h4>Alan McGurney</h4>
                        <p>Alan handles the templates</p>
                    </div>
                    <div class="col-lg-4">
                        <img class="image" src="https://i.imgur.com/GTNGN6w.jpg" alt="Nabila" width="150" height="75">
                        <h4>Nabila Digourdi</h4>
                        <p>Nabila is our model Python implementer</p>
                    </div>
            </div>
      </div>
  {% endblock %}