
{% extends 'base.html' %} 
{% block content %}
<!-- <h1 class="pt-3"> Posts</h1> -->
  <!-- <div class="container">
     <ul>
         <li>
             <a href="/Morocco">Morocco</a>
         </li>
         <li>
             <a href="/France">France</a>
         </li>
         <li>
             <a href="/Asia">Asia</a>
         </li>
         <li>
             <a href="/S.America">S.America</a>
         </li>
         <li>
             <a href="/Caribbean">Caribbean</a>
         </li>
         <li>
             <a href="/Ocean">Oceans&Seas</a>
         </li>
         <li>
             <a href="/Emirates">United Arab Emirates</a>
         </li>
     </ul>
 </div> -->
 
 <div class="w3-container w3-margin-bottom"> 
     
    <img src="https://static.displate.com/857x1200/displate/2020-03-09/941502e6385250c16c2dedb43955b1d2_79b2ca8a7112ce3bf7a0ea8ad1131438.jpg" alt="Worldmap" usermap="#woldmap" />
</div>

<div class="container">
    {% for country in countries %} 
        <div class="">
            <a href="{% url 'country_detail' country.pk %}">
                <div class="">
                    <img src="{{country.image}}" alt="{{country.name}}"/>
                </div>
                <div class="">
                    <h3 class="card-header-title">{{country.name}}</h3>
                </div>
           </a>
        </div>
  {% endfor %}    
 </div>
{% endblock %}