{% extends 'base.html' %}
{% block content %}
<h1></h1>
<!-- <img class="image" src="https://i.imgur.com/NBxB0Yf.jpg" alt="Plane" width="75" height="75"> -->
<header class="display-container content hide-small" style="max-width:1500px">
    <img class="image" src="https://london.ac.uk/sites/default/files/styles/max_1300x1300/public/2018-10/london-aerial-cityscape-river-thames_1.jpg?itok=6LenFxuz" alt="London" width="1500" height="700">
      <div class="container">
        <h3>Wayfarer is <em>the</em> source for user tips and stories from favorited locations around the world!</h3>
        <!-- <div class="row">
          <div class="col-lg">
            <img class="image" src="" alt="London" width="1500" height="700">
            One of four posts
          </div>
          <div class="col-lg">
            One of four posts
          </div>
          <div class="col-lg">
            One of four posts
          </div>
          <div class="col-lg">
            One of four posts
          </div>
        </div>
      </div> -->

  <div class="w3-container w3-margin-top">
    <h3><i>So, what destinations inspire you?</i></h3>
  </div>
  <div class="w3-row-padding w3-text-white w3-large">
    
      {% for city in cities %} 
      <div class="w3-half">
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
                  <img src="{{city.image}}" alt="{{city.name}}"/>
              </div>
              <div class="card-header">
                  <h3 class="card-header-title">{{city.name}}</h3>
              </div>
          </a>
      </div>
    {% endfor %}   
      
  </div>
      
  {% endblock %}